@charset "UTF-8";

body {
	background: url("../images/bg.jpg") no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container-div {
    width: 50%;
    margin: 60px auto 0;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 20px;
    border: 4px ridge rgba(238, 238, 238, 0.11);
    border-radius: 10px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	border-bottom: none;
}

.container-buttons {
	width: 410px;
	margin: auto;
}

.container-div input[type="submit"] {
    width: 200px;
    padding: 10px 0;
    outline: none;
    border: 1px solid #7B7474;
    font-family: Oswald-Regular;
    font-size: 15px;
    color: #FFFFFF;
    background-color: rgba(23, 24, 25, 0.24);
    border-radius: 5px;
    cursor: pointer;
}

.container-div input[type="submit"]:hover {
	background-color: rgba(16, 89, 134, 0.52);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.container-div input[type="button"] {
    width: 200px;
    padding: 10px 0;
    outline: none;
    border: 1px solid #7B7474;
    font-family: Oswald-Regular;
    font-size: 15px;
    color: #FFFFFF;
    background-color: rgba(23, 24, 25, 0.24);
    border-radius: 5px;
    cursor: pointer;
}

.container-div input[type="button"]:hover {
	background-color: rgba(16, 89, 134, 0.52);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.page-title {
    text-align: center;
    font-size: 40px;
    font-family: Lemon-Regular;
    color: #009eff;
}

.menu {
	background: black;
	padding: 6px 0 6px 40px;
}

.menu a {
	color: #c5d6db;
	text-decoration: none;
	font-size: 14px;
	font-family: "Arial Narrow", "Myriad Pro";
	font-weight: bold;
}

.menu a:hover {
	color: #ecf2f3;
}

.error {
	padding: 0px 0px 15px 0px;;
	font-size: 20px;
	font-family: Oswald-Light;
	margin: 0;
	color: #f4ff00;
	text-align: center;
}

.register input[type="submit"], input[type="button"] {
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	outline: none;
	border: 1px solid #7B7474;
	font-family: Oswald-Regular;
	font-size: 17px;
	color: #FFFFFF;
	background-color: rgba(23, 24, 25, 0.24);
	border-radius: 5px;
	cursor: pointer;
}

.register input[type="submit"]:hover {
	background-color: rgba(16, 89, 134, 0.52);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.register input[type="button"]:hover {
	background-color: rgba(16, 89, 134, 0.52);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.store-message {
	width: 500px;
	height: 150px;
	padding: 0px 10px;
	margin: 0px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f8f8f8;
	resize: none;
}

.client-order-headers td {
	text-align: center;
	font-weight:bold;
	color: red;
	background-color: #fdd2d2;;
	font-family: calibri;
	padding: 3px;
	border: 1px solid black;
	border-radius: 4px;
}

.client-order-values td {
	text-align: center;
	font-family: calibri;
	padding: 2px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #d7eeff;
	border-radius: 4px;
}

.staff-order-role td {
	text-align: center;
	font-weight:bold;
	color: #2300ff;
	background-color: #fdd2d2;;
	font-family: calibri;
	padding: 3px;
	border: 1px solid #0058ff;
	border-radius: 4px;
}

.staff-order-headers td {
	text-align: center;
	font-weight:bold;
	color: red;
	background-color: #fdd2d2;;
	font-family: calibri;
	padding: 3px;
	border: 1px solid red;
	border-radius: 4px;
}

.staff-order-value td {
	text-align: center;
	font-family: calibri;
	padding: 2px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #d7eeff;
	border-radius: 4px;
}

.staff-progress-bar-header td {
	text-align: left;
	font-family: calibri;
	padding: 2px 50px;
	border: 1px solid red;
	color: red;
	font-weight: bold;
	border-radius: 4px;
	background-color: #d7eeff;
	border-radius: 4px;
}

.text-header {
	color: red;
	font-family: calibri;
	font-size: 30px;
	font-weight: initial;
}

.bar {
	width: 100%;
	margin: 10px auto;
	height: 25px;
	border-radius: 15px;
	background-image: linear-gradient(white, gray);
	color: white;
	text-align: center;
}

.orange-process {
	width: 10%;
	height: 100%;
	background-image: linear-gradient(orange, yellow);
	float: left;
	border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.green-adopted {
	width: 10%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-design {
	width: 16%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-implementation {
	width: 22%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-queue {
	width: 28%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-warehouse {
	width: 34%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-punching {
	width: 40%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-bending {
	width: 46%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-bending {
	width: 52%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-welding {
	width: 58%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-printing {
	width: 64%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-fitting {
	width: 70%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-quality {
	width: 76%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-ready {
	width: 90%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.green-archivized {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(green, yellow);
	border-radius: 15px;
}

#edit-profile {
	color:red;
	float: right;
	font-family: calibri;
	font-weight: bold;
	font-size: 19px;
	padding: 0px 10px;
}